.header {
  display: grid;
  padding: 2rem;
  background-color: $nba-blue;
  color: $nba-white;
  @include tablet {
    grid-template-columns: 2fr 8fr;
  }
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  @include tablet {
    justify-content: flex-end;
    margin-top: 0;
  }
  a {
    margin: 0 1rem;
    font-size: 2rem;
    padding: 1rem;
  }
}
