.home {
  padding: 1rem;
  display: grid;
  grid-gap: 5rem;
  @include desktop {
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: $nba-white;
    padding: 1rem;
    border: 5px solid $nba-red;
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include desktop {
      grid-column: 1 / 3;
      padding: 10rem 0;
      font-size: 2rem;
    }
  }

  &__tool {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $nba-red;
    color: $nba-white;
    border-radius: 10px;
    padding: 2rem;
    font-size: 2rem;
    @include desktop {
      padding: 5rem 0;
      font-size: 3rem;
    }
  }
}
