// Colors
$site-background: #edeef0;
$site-light: #fefefe;
$border-light: #eee;
$nba-blue: #17408b;
$nba-white: #ffffff;
$nba-red: #c9082a;

// Universal Breakpoints
$tablet: 768px;
$tablet-plus: 1024px;
$desktop: 1200px;

// Fonts
$nba-roboto: 'Roboto', sans-serif;
